@extends('layouts/sample')
@section('content')
<h1>（BLOCS）本の新規登録</h1>

<form action="" method="POST" class="mt-5">
    @csrf
    <div class="row">
        <div class="col-4">タイトル</div>
        <div class="col-8">
            <input type="text" name="title" class="form-control" data-validate="bail|string" required>
            <!-- data-form="title" data-validate="max:50" data-lang="タイトルが長すぎます。" -->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">価格</div>
        <div class="col-8">
            <input type="number" name="price" class="form-control" data-validate="bail|numeric" required>
            <!-- data-form="price" data-validate="min:0" data-lang="価格が不正です。" -->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">概要</div>
        <div class="col-8">
            <textarea name="abstract" rows="3" class="form-control" data-validate="bail|string" required></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">タグ</div>
        <div class="col-8">
            <select class="select2" name="tags[]" multiple="multiple" style="width:100%"></select>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-5">
        <input type="submit" class="btn btn-primary" value="新規登録する" formaction="{{ route('book.store') }}"/>
    </div>
</form>

<!-- data-include="select2.html" -->

@endsection
